*{
  margin:0;
padding:0;
font-family:arial,sans-serif;
}
body{
background-color:white;
}

#content {
  min-height: 100%
 
}
ul {
  display: flex;
  align-items: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header  ul {
  padding: 15px;
  overflow: hidden;
  float: right;
  height: 30px;
}

#header  ul li {
  float: left;
  margin: 0 10px;
  font-size: 13px;
}

#user {
  opacity: 0.55;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
#apps  img{
  width: 30px;
  height: 30px;
  opacity: 0.55;
}
#apps:hover{
  background-color:#ebebe0;
   background-size: 128px 25px;
}
#apps:hover {
  opacity: 1;
}
#user-menu {
  display: flex;
  align-items: center;
  background-color:rgb(0, 0, 153);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

#user-initial {
  width: 100%;
  text-align: center;
  color: #FFF;
}
#logo img{
  width:355px;
  height:92px;
  margin-top:173px;
  margin-left:200px;
}
 .googleTitle{
	display: flex;
    	justify-content: center;
	margin-top: 24px;
}
.google{
	width:378px;
}
.headerM{
	display: flex;
	flex: 0.4;
	align-items: center;
	background-color: whitesmoke;
	padding: 3px;
	border-radius: 20px;
}
.headerM input {
	border: none;
	width: 100%;
	padding: 10px;
	outline: none;
	font-size: medium;
	background-color: transparent;
}
.icons {
	width: 25px;
}
.mic{
	width: 14px;
   	margin-left: 370px;
}


.buttons{
	display: flex;
    	justify-content: center;
}
.button1{
	padding: 8px;
	cursor: pointer;
	align-items: center;
	border-color: transparent;
	border-radius: 3px;
	background-color: ;
	margin-right: 15px;
	color: black;
	margin-top: 7px;
    	width: 120px;
}
.lang{
	display:flex;
	justify-content:center;
	margin-top:10px;
}
.languages{
	display:flex;
	font-size: small;
}
.languages span{
	margin-left: 6px;
}
.footerBox1{
	margin-top: 240px;
	display:flex;
	background-color:rgb(241, 243, 243);
	color: #70757a;
	border-bottom: 1px solid #dadce0;
	padding: 7px;
}
.footerBox1 span{
	padding-left:8px;
	font-size: 15px;
}
.footerBox2{
	display:flex;
	background-color:rgb(241, 243, 243);
	color: #70757a;
	border-bottom: 1px solid #dadce0;
	padding: 7px;
}
.footerBox2 span{
	padding-left:8px; 
	font-size: 15px;
}

